# Ambiente
NODE_ENV=development

# Configuração do Servidor
PORT=3000

# Banco de Dados - Escolha uma das opções abaixo
# Tipo de banco de dados (prisma, mongoose, pg)
DB_TYPE=prisma

# Para PostgreSQL (usado pelo Prisma ou conexão direta pg)
DATABASE_URL=postgresql://usuario:senha@localhost:5432/paulocell?schema=public

# Para MongoDB (usado por Mongoose)
MONGODB_URI=mongodb://localhost:27017/paulocell

# Segredos para autenticação JWT
JWT_SECRET=chave_secreta_para_assinar_tokens_jwt
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=chave_secreta_para_assinar_refresh_tokens
REFRESH_TOKEN_EXPIRES_IN=7d

# Configurações de Cors (opcional - valor padrão é *)
CORS_ORIGIN=https://paulocell.vercel.app

# Outras configurações (opcionais)
DEBUG=false
LOG_LEVEL=info 